
.weather-city{
  text-align: center;
}

.city-input{
  margin-left: 40%;
  width: 20%;
  height: 35px;
  background-color: #E0FFFF;
  border: none !important;
  border-radius: 5px;
  padding-left: 10px;
}


.city{
  margin-left: 40%;
}

.error-message{
  color: red;
  margin-left: 5%;
}

@media (max-width: 768px){
  .city-input{
    margin-left: 10%;
    width: 80%;
  }


  .city{
    margin-left: 10%;
  }

  .error-message{
    margin-left: 10% !important;
  }

}
