input[type=text]::-webkit-inner-spin-button,
input[type=text]::-webkit-outer-spin-button {

  opacity: 1

}

.weather-city{
  text-align: center;
}

input[type='text']{
  margin-left: 5%;
  margin-right: 5%;
  width: 88%;
  height: 35px;
  background-color: #E0FFFF;
  border: none !important;
  border-radius: 5px;
  padding-left: 10px;
}

input:focus{
  background-color: #E0FFFF;
}

.city{
  margin-left: 6%;
  margin-right: 5%;
}

.error-message{
  color: red;
  margin-left: 5%;
}
