.error-message{
  margin-left: 40% !important;
}
.progress-bar-container {
   margin-bottom: 5%;
   margin-top: -10%;
}

.progress-bar {
  width: 18vw ;
  height: 8px;
  background-color: #E0FFFF;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
}

.progress-bar-container p {
  float: right;
  font-size: 0.8em;
  margin-left: -10%;

}
.progress {
  height: 100%;
  background-color: #87CEFA;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  transition: width 0.5s;
}


.description {
  border: 1px solid #87CEFA;
  margin-left: 40%;
  width: 20vw;
  margin-top: 5%;
  border-radius: 5px;
}


.icon-part {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.icon img{
  border: 1px solid grey;
  border-radius: 50%;
  width: 30px;
  margin-right: 5%;
}

.weather-icon-description{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.weather-description {
  display: flex;
  flex-direction: column;
}

.title{
   color: grey;
   font-size: 0.8em;
}

.weather-main, .weather-description-persentage {
  margin-top: -10px;
  font-size: 0.8em;
}


.sunset-sunrise{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-left: 5%;
  border-top: 1px solid #ADD8E6;
  font-size: 0.8em;
}

.sunset-main, .sunrise-main, .location-main{
  margin-top: -10px;
}

.location-main img{
  width: 20px;
  height: 20px;
  margin-left: -5px;
}
.location-main {
  display: flex;
  align-items: center;
}


.temperature{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 5%;
  margin-top: -10%;
  font-size: 0.8em;
}
.temperature-main{
  margin-top: -10px;
}

.temperature-title, .feelslike-title{
  color: grey;
}


@media (max-width: 768px){
  .description {
    margin-left: 10%;
    width: 80vw;
  }


 .progress-bar {
   width: 70vw ;
   margin-left: 10%;
   margin-right: 10%;
 }

}
